
h1
{
font-family: Peralta;
color: black;
}

.login
{
    overflow: visible;
}

#Home_Txt
{   
    position: relative;
    font-family: Peralta;
    color: black;
    font-size:xxx-large;
    right: 45px;
    top: 25px
}

body
{
    background-image: url("TMI_BCG.png");
    background-size: cover;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-color: red;
  border-width: 3px;
  background-color: rgba(0, 0, 0, 0);
  
}

#c_info
{
    background-color: rgba(0, 0, 0, 0);
    
}

#card_text_Star
{
    margin: 15px;
    margin-left: 20px;
    
}

#star_text
{
    margin-right: 25px;
    font-size:25px;
    float: right;
}

#card_text
{
    margin: 15px;
    border-bottom-style:solid;
    border-width: 1px;
    border-color: #B1B1B1;
    font-size:15px;
}

#btRegister
{
    width: 140px;
    height: 50px;
    margin-right: 10px
}

#btn_txt
{
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color:black
}

.form-inline
{
    margin-bottom: 10px;
}

#DOB
{
    margin-left:20px;
    width: 200px;
}

#CO
{
    margin-left: 20px;
}

.message
{
    color: red;
}

.btn.btn-primary
{
    background: radial-gradient(50% 555.56% at 50% 50%, #FFA100 0%, #CC7722 100%);
    font-family: IBM Plex Mono, bold;
    color: black;
    margin-bottom: 20px;
}

#TMI_Log
{
    position:relative;
width: 99px;
height: 109px;
right: 10px;
}

.nav-link
{
    background: radial-gradient(50% 555.56% at 50% 50%, #FFA100 0%, #CC7722 100%);
    font-family: IBM Plex Mono, bold;
    color: black;
}
.form-group
{
    font-family: IBM Plex Mono;
}

#search-focus
{
    width: 1000px;
    height: 65px;
}

#Search-butt
{
    height: 65px;
    width: 100px;
}

#exampleInputEmail1{
    width: 500px;
    height: 48px;
    left: 564px;
    top: 132px;
    margin: 10px;
}

#exampleInputPassword1{
    width: 500px;
height: 48px;
left: 564px;
top: 132px;
margin: 10px;
}

#exampleInputPassword2{
    width: 500px;
height: 48px;
left: 564px;
top: 132px;
margin: 10px;
}

#exampleLastName{
    width: 500px;
height: 48px;
left: 564px;
top: 132px;
margin: 10px;
}

#exampleName{
    width: 500px;
    height: 48px;
    left: 564px;
    top: 132px;
    margin: 10px;
}
.form-control
{
width: 750px;
height: 48px;
left: 564px;
top: 132px;
margin: 10px;

box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 4px 0px 8px rgba(0, 0, 0, 0.25);
}

#perHour
{
left: 0%;
right: 72.34%;
top: 17.5%;
bottom: 17.5%;
margin: 10px;

border: 1px solid rgba(0, 0, 0, 0.54);
box-sizing: border-box;
border-radius: 2px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#perLandmark
{
left: 0%;
right: 72.34%;
top: 17.5%;
bottom: 17.5%;
margin: 10px;

border: 1px solid rgba(0, 0, 0, 0.54);
box-sizing: border-box;
border-radius: 2px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#sunday
{
    left: 0%;
right: 72.34%;
top: 17.5%;
bottom: 17.5%;
margin: 10px;

border: 1px solid rgba(0, 0, 0, 0.54);
box-sizing: border-box;
border-radius: 2px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
} 
#saturday
{
    left: 0%;
right: 72.34%;
top: 17.5%;
bottom: 17.5%;
margin: 10px;

border: 1px solid rgba(0, 0, 0, 0.54);
box-sizing: border-box;
border-radius: 2px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
} 

#friday
{
    left: 0%;
right: 72.34%;
top: 17.5%;
bottom: 17.5%;
margin: 10px;

border: 1px solid rgba(0, 0, 0, 0.54);
box-sizing: border-box;
border-radius: 2px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#thursday
{
    left: 0%;
right: 72.34%;
top: 17.5%;
bottom: 17.5%;
margin: 10px;

border: 1px solid rgba(0, 0, 0, 0.54);
box-sizing: border-box;
border-radius: 2px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#wednesday
{
    left: 0%;
right: 72.34%;
top: 17.5%;
bottom: 17.5%;
margin: 10px;

border: 1px solid rgba(0, 0, 0, 0.54);
box-sizing: border-box;
border-radius: 2px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#tuesday
{
    left: 0%;
right: 72.34%;
top: 17.5%;
bottom: 17.5%;
margin: 10px;

border: 1px solid rgba(0, 0, 0, 0.54);
box-sizing: border-box;
border-radius: 2px;
box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#monday
{
    left: 0%;
    right: 72.34%;
    top: 17.5%;
    bottom: 17.5%;
    margin: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#male
{
    left: 0%;
    right: 72.34%;
    top: 17.5%;
    bottom: 17.5%;
    margin: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}
#female
{
    left: 0%;
    right: 72.34%;
    top: 17.5%;
    bottom: 17.5%;
    margin: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#other
{
    left: 0%;
    right: 72.34%;
    top: 17.5%;
    bottom: 17.5%;
    margin: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#terms_and_conditions
{
    left: 0%;
    right: 72.34%;
    top: 17.5%;
    bottom: 17.5%;
    margin: 10px;
    
    border: 1px solid rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), inset 0px 0px 0px rgba(0, 0, 0, 0);
}

#TRM
{
    font-family: Ribeye, cursive;
}

.croppa-container {
    background-color: lightblue;
    border: 2px solid #FFA100;
    border-radius: 8px;
  }

.verify
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.complete_profile
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.start_touring
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
